//-------------------------------------------
// Settings - Colors
// ------------------------------------------

$white:    #fff !default;
$black:    #000 !default;
$scaffold: #e51dc3 !default;
$scaffold-alt1: #268bd2 !default;
$scaffold-alt2: #12f076 !default;
$scaffold-alt3: #aa0ec9 !default;
$svg-stroke: #9AA1A8 !default;