body, .MattressSelector {
  background-color: #F7F5F2 !important;
}

// Fonts
h1{
  font-family: 'Source Serif Pro', serif;
  font-size: 2em !important;
}

h2, p, button{
  font-family: 'Questrial', sans-serif !important;
}