/* Fonts */
$questrial-regular: "Questrial-Regular";

$sourceSerifPro-regular: "SourceSerifPro-Regular";

/* Breakpoints */
$mobile-s: 319px;
$mobile-m: 374px;
$mobile-l: 424px;
$tablet: 1005px;
$laptop: 1080px;
$laptop-m: 1140px;

/* Site max width */
$site-max-width: 1110px;

/* Colors - Static*/
$black: #000000;
$cinnamon: #d5aa63;
$coconut: #f6f5f3;
$gray: #a6a19a;
$light-cinnamon: #e2c492;
$nut: #fafafb;
$white: #ffffff;
