@use "normalize";

/* Helpful variables */
$brand-color: #c19678;
$header-fonts: "Source Serif Pro", serif;
$body-fonts: "Questrial", Helvetica, Arial, sans-serif;

body {
  font-family: $body-fonts;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  -webkit-appearance: none;
}

/* Header */
.header {
  height: 50px;
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 50px 0;
}

.nav__saatvaLogo {
  display: inline-block;
  width: 107px;
}

.icon--saatvaLogo {
  fill: $brand-color;
  stroke: none;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.icon--cart {
  padding-top: 5px;
  stroke: none;
  fill: #6b6257;
}

.wrapper--cart {
  display: inline-block;
  float: right;
  position: relative;
}

.cart-counter {
  position: absolute;
  top: 0;
  right: -8px;
  color: #fff;
  background-color: $brand-color;
  font-size: 12px;
  border-radius: 50%;
  width: 14px;
  text-align: center;
}

/* Main product content */
.selector--mattress {
  display: flex;
  flex-flow: column;
  padding: 20px 50px 0;
  background-color: #f6f5f3;
  min-height: 600px;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.product--info {
  .product--title {
    font-family: $header-fonts;
    margin-top: 0;
  }
  .product--subtitle {
    text-transform: uppercase;
    font-size: 16px;
  }
}

.button--wrapper {
  margin-bottom: 24px;
}

.product--button {
  color: #a6a19a;
  background-color: #fff;
  border: 1px solid #a6a19a;
  width: 33.333%;
  height: 40px;
  &:focus,
  &:active,
  &.selected {
    color: #fff;
    background-color: #a6a19a;
  }
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    padding: 2px;
    font-size: 10px;
  }
}

.product--name,
.product--price {
  display: inline-block;
}

.product--name {
  color: #1a1a1a;
}

.product--price {
  text-align: right;
  color: #7d7d7d;
}

.product--reviews {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 20px;
  line-height: 1;

  &::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      #fc0 var(--percent),
      #fff var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.product--description {
  margin-bottom: 36px;
}

.atc-button {
  width: 100%;
  height: 44px;
  color: #fff;
  background-color: #d4aa63;
  transition: background-color 0.5s ease;
  border: 0;
  &:hover,
  &:active {
    background-color: #bb914a;
    transition: background-color 0.5s ease;
  }
}

@media screen and (min-width: 992px) {
  .image--wrapper {
    padding-right: 10px;
  }
  .product--info {
    padding-left: 10px;
  }
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: -3px;
  background-color: #d4aa63;
  height: 1px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

button.selected .underline:after {
  background-color: transparent;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* Grid */
.mobile-12 {
  width: 100%;
}

.mobile-6 {
  width: 50%;
}

@media screen and (min-width: 992px) {
  .desktop-5 {
    width: 41.667%;
  }

  .desktop-6 {
    width: 50%;
  }

  .desktop-7 {
    width: 58.333%;
  }
}
